## pg_server_cache 
Looking on the cache of a PG Server

# Configuration
Open a connection to the DB. Use a Connection String stored in a .cfg file

In [7]:
import sqlalchemy
import pandas as pd
import configparser
import matplotlib.pyplot as plt 

# Read from the Config file
config = configparser.ConfigParser() 
config.read_file(open(r'../ipynb.cfg'))

con_str = config.get('con_str', 'PG_AIRBASES') 

engine = sqlalchemy.create_engine(con_str)

# print("Connecting with engine " + str(engine))
try:
    connection = engine.connect()
except (Exception, sqlalchemy.exc.SQLAlchemyError) as error:
    print("Error while connecting to PostgreSQL database:", error)

# Pre-Req
Check whether the extension exists

In [8]:

query = """
SELECT CASE WHEN COUNT(*) > 0 THEN 'true' ELSE 'false' END AS extension_exists
FROM pg_extension
WHERE extname = 'pg_stat_statements';
"""
df = pd.read_sql_query(query, connection)
df

  extension_exists
0             true

## BUFFER CACHE
Postgres caches recent queries in memory called the shared buffer cache (shared_buffers in postgresql.conf). The pg_statio_user_tables has as rows representing various stats on each of the (user) tables. The two columns of interest we’ll be looking at are:

* pg_statio_user_tables.heap_blks_read — Number of disk blocks read from a table (ie. missed cache)
* pg_statio_user_tables.heap_blks_hits — Number of buffer hits from this table (ie. cache hit)

In [9]:
query_ccnnections_metrics = """
SELECT 
  schemaname, 
  pg_class.relname, 
  ROUND(
    CASE 
      WHEN heap_blks_hit + heap_blks_read = 0 
      THEN 0 
      ELSE heap_blks_hit::decimal / (heap_blks_hit + heap_blks_read) 
    END, 
    3
  ) as cache_hit_ratio
FROM 
  pg_statio_user_tables 
  JOIN pg_class ON pg_statio_user_tables.relid = pg_class.oid 
  JOIN pg_namespace ON pg_namespace.oid = pg_class.relnamespace;
"""

df = pd.read_sql_query(query_ccnnections_metrics, connection)
df

      schemaname                   relname  cache_hit_ratio
0   postgres_air               booking_leg            0.328
1   postgres_air                   airport            0.953
2   postgres_air                   account            1.000
3   postgres_air            frequent_flyer            1.000
4   postgres_air                   booking            0.394
5   postgres_air                 passenger            0.829
6   postgres_air                     phone            0.642
7   postgres_air             boarding_pass            0.058
8   postgres_air                    flight            0.996
9   postgres_air                  aircraft            0.875
10  postgres_air  boarding_pass_no_indexes            0.132
11  postgres_air                test_table            0.000
12        public               orders_test            0.950
13         metis  postgres_server_settings            0.948
14        public               index_stats            0.982
15        public                        t1            0.000
16        public           booking_flights            0.665
17  postgres_air               passenger_2            0.304
18        public                  accounts            0.818
19  postgres_air                   testing            0.000
20        public                  students            0.000
21        public                     sales            0.982
22        public               orders_2019            0.875
23        public               orders_2020            0.923
24        public               orders_2021            0.875

# pg_stat_database
https://www.postgresql.org/docs/current/monitoring-stats.html#MONITORING-PG-STAT-DATABASE-VIEW


The ```pg_stat_database``` view will contain one row for each database in the cluster, plus one for shared objects, showing database-wide statistics.

In [10]:
query_pg_stat_database = """
select * 
from pg_stat_database 
order by datname
limit 100
"""

df = pd.read_sql_query(query_pg_stat_database, connection)
df

,datid,datname,numbackends,xact_commit,xact_rollback,blks_read,blks_hit,tup_returned,tup_fetched,tup_inserted,...,tup_deleted,conflicts,temp_files,temp_bytes,deadlocks,checksum_failures,checksum_last_failure,blk_read_time,blk_write_time,stats_reset
0,71456,airbases,2,1189650,2328,1311815907,1769191786,253855587519,283977054,107662840,...,1871,0,77437,136098456316,0,0,None,5.106201e+07,16636.023,2022-07-24 13:22:40.397635+00:00
1,16416,ariksa,1,2522565,4291,12232908,118734759,2674756447,25281991,36471769,...,1751,0,182,5273378816,0,0,None,2.095235e+05,6622.894,2022-03-24 18:14:50.881796+00:00
2,741903,bee_hero,1,38142,190,11132,44426694,456806817,6583726,136694,...,43,0,34,130007040,0,0,None,1.496600e+01,0.000,2023-04-13 11:50:31.632107+00:00
3,742423,bee_hero_2,1,27338,30,321,1125979,16342093,192062,110,...,0,0,0,0,0,0,None,7.221000e+00,0.000,2023-04-13 12:10:39.320840+00:00
4,27603,books,0,1738026,144,2030,72158997,1054481058,12203880,33,...,18,0,0,0,0,0,None,5.584080e+02,0.000,2022-05-24 10:05:01.930212+00:00
5,669717,demo,1,747877,46,770349,72057509,574462549,13276673,21810519,...,10,0,569,1494502662,0,0,None,3.107471e+04,1706.707,2023-01-13 06:32:27.650539+00:00
6,620733,platform-v2,9,1827689,19503,380388,1567330043,7256393598,2858484817,1539700,...,139234,0,66951,145336169037,0,0,None,1.823527e+04,296.093,2023-01-29 22:13:50.640788+00:00
7,14301,postgres,3,14657439,388,3270,120165169,1739357721,20409683,1414,...,56,0,658978,3236630531368,0,0,None,1.186259e+03,0.000,2021-09-14 02:26:35.621660+00:00
8,704871,prisma_migrate_shadow_db_15f7c6f6-3839-4e8d-9b...,1,314685,0,645,13086797,227320970,2217479,1301,...,102,0,0,0,0,0,None,1.369100e+01,0.000,2023-03-19 10:44:50.857163+00:00
9,680488,prisma_migrate_shadow_db_1c09cbde-3031-41eb-92...,0,506085,2,630,21027956,355977011,3556326,1095,...,88,0,0,0,0,0,None,1.000300e+01,0.000,2023-03-02 18:20:55.273696+00:00
10,724135,prisma_migrate_shadow_db_34f369eb-f1bd-48c6-80...,1,187568,0,632,7812019,135485179,1327541,1347,...,148,0,0,0,0,0,None,4.618000e+00,0.000,2023-03-30 12:46:03.153326+00:00
11,724795,prisma_migrate_shadow_db_3862d6b6-5274-40a7-81...,1,187410,0,643,7809222,135370550,1328511,1348,...,149,0,0,0,0,0,None,4.384000e+00,0.000,2023-03-30 13:06:18.306848+00:00
12,773211,prisma_migrate_shadow_db_45d5ddf9-b640-4cbe-8e...,1,5732,19,307,234383,3375768,41024,0,...,0,0,0,0,0,0,None,9.820000e-01,0.000,2023-04-15 08:54:12.966382+00:00
13,725126,prisma_migrate_shadow_db_487cd1ec-7599-4254-b0...,1,187358,2,647,7809558,135322542,1330236,1348,...,149,0,0,0,0,0,None,1.128700e+01,0.000,2023-03-30 13:15:58.252314+00:00
14,681097,prisma_migrate_shadow_db_5fdc8656-ff9d-494d-b0...,0,476277,2,638,19792401,335011142,3348708,1095,...,88,0,0,0,0,0,None,1.777600e+01,0.000,2023-03-05 08:44:13.898624+00:00
15,725788,prisma_migrate_shadow_db_a4da692e-216a-4b65-be...,1,187222,0,632,7797662,135235304,1325119,1347,...,148,0,0,0,0,0,None,3.404000e+00,0.000,2023-03-30 13:29:21.950545+00:00
16,672446,prisma_migrate_shadow_db_a769d9ed-1849-4da1-bd...,0,746820,0,527,31016273,514499808,5240639,958,...,68,0,0,0,0,0,None,4.047100e+01,0.000,2023-02-07 14:21:22.177011+00:00
17,724464,prisma_migrate_shadow_db_ab7a1247-4991-46be-a4...,1,187560,0,670,7816706,135480718,1329916,1347,...,148,0,0,0,0,0,None,3.532000e+00,0.000,2023-03-30 12:47:07.821057+00:00
18,725458,prisma_migrate_shadow_db_c3c9d009-f15c-43b7-8b...,1,187286,0,632,7800318,135281531,1325567,1347,...,148,0,0,0,0,0,None,3.602000e+00,0.000,2023-03-30 13:21:25.705824+00:00
19,16384,rdsadmin,2,73794591,556718,2502,339462646,5287323511,112124304,131,...,48,0,489279,2130985055726,0,0,None,6.677150e+02,0.000,2021-09-14 02:26:35.954900+00:00
20,422292,sqlalchemy-flask-test,0,748029,12,1113,31022131,458125989,5244750,0,...,0,0,0,0,0,0,None,3.864560e+02,0.000,2022-09-20 14:20:57.354990+00:00
21,14300,template0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,None,0.000000e+00,0.000,NaT
22,1,template1,0,2433581,0,1122,101019502,1473346791,17054552,3,...,0,0,0,0,0,0,None,3.622020e+02,0.000,2022-03-24 17:25:06.429383+00:00
23,773210,traces,1,8314,68,4491,495197,4467513,137826,22848,...,2,0,0,0,0,0,None,4.944000e+00,0.000,2023-04-15 08:50:47.750069+00:00
24,0,None,0,0,0,437,462151116,1452228997,131591264,3895,...,1839,0,0,0,0,0,None,0.000000e+00,0.000,2021-09-14 02:26:35.621698+00:00